<nav>
  <ul>
    <li>
      <a href="/" title="Home">
        Music Project
      </a>
    </li>
    <li>
      <a href=/"albums" title="albums">
        Albums
      </a>
    </li>
    <li>
      <a href="/about" title="About">
        About
      </a>
    </li>
  </ul>
</nav>
