<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <header>
        <h1>
          Bienvenue
        </h1>
      </header>
      <section id="fr">
        <header>
          <h1>
            Français
          </h1>
        </header>
      <p>
        Music Please est un projet open-source créé dans le but d'apprendre le fonctionnement de NodeJS et d'Express.<br/>
        Il permet aussi et surtout d'écouter sa musique via Internet !
      </p>
      <p>
        Le projet étant open-source, soyez libre de le forker et de proposer des pull requests afin de contribuer au projet.<br/>
        Toutefois ce projet étant un projet à but non-lucratif, il bénéficiera d'une licence adéquat.
      </p>
    </section>
    <section id="en">
      <header>
        <h1>
          English
        </h1>
      </header>
    <p>
      Music Project is an open-source project created in order to learn nodeJS and Express.<br/>
      But it allows you to listen to your music library on internet.
    </p>
    <p>
      The project being open-souced, feel free to fork it and make pull requests.<br/>
      However, Music Please is a non-profit project.
    </p>
  </section>
    </main>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
  </html>
